.affix {
	top: 20px;
}

.jumbotron {
	height: 340px;
	background: #DFEAEF;
}

#photo-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#choose-language-container {
	font-size: 22px;
	text-align: right;
}

#navigation-menu-container div {
	width: 165px;
}

#footer-container {
	height: 80px;
}

/* debug code */
/*#photo-container {
	background: green;
	height: 220px;
}

#name-container {
	background: #005577;
}

#choose-language-container {
	background: #007777;
}

#profile-container {
	background: #009977;
}

#cv-download-container {
	background: #00CC77;
}

#page-content-container {
	background: #DDDDDD;
}

#navigation-menu-container {
	background: #AA44FF;
	height: 200px;
}

#details-about-me-container {
	background: #FF0000;
	height: 1000px;
}

#footer-container {
	background: pink;
	height: 100px;
}
*/
