body {
  position: relative;
}

.affix {
	top: 20px;
}

.jumbotron {
	height: 340px;
	background: #DFEAEF;
}

.company-container,
.company-container .image-logo {
	height: 200px;
}

.company-container {
  margin-left: 6px;
  margin-right: 6px;
	margin-bottom: 8px;
	background: #F5F5F5;
	border: 1px solid #CCCCCC;
}

.company-container a,
.company-container a:hover {
	text-decoration : none;
	color: #333333;
}

.company-container:hover {
	background: #EEEEEE;
}

.image-logo img {
	height: 120px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#photo-container img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#choose-language-container {
	font-size: 20px;
	text-align: right;
}

#navigation-menu-container ul {
	width: 165px;
}

#navigation-menu-container .nav > .active > a,
#navigation-menu-container .nav > .active:hover > a,
#navigation-menu-container .nav > .active:focus > a {
	color: #FFFFFF;
	background-color: #337AB7;
	border-color: #337AB7;
}

#footer-container {
	height: 80px;
}

#skills-container .experience-time {
  margin-bottom: 0px;
}

#skills-container .progress .bg-success {
  background-color: #5CB85C !important;
}

#skills-container .progress .bg-info {
  background-color: #5BC0DE !important;
}

#skills-container .progress .bg-warning {
  background-color: #F0AD4E !important;
}

#skills-container .progress .bg-danger {
  background-color: #D9534F !important;
}

#skills-container h3 {
  margin-top: 6px;
}

#skills-container .single-skill-container {
  padding: 6px 10px 6px 10px;
}

#skills-container .skill-level {
  margin-bottom: 0px;
}

#skills-container .progress-bar {
  font-size: 14px;
}

.projects-done .row {
  padding-bottom: 30px;
}

.projects-done .single-project {
  border-radius: 6px;
  border: 3px solid #CCCCCC;
}

.projects-done .single-project figure {
  overflow: hidden;
  width: 100%;
	height: 100%;
}

.projects-done img {
	width: 100%;
	height: 100%;
  border-radius: 4px;
}

.projects-done .single-project h5 {
  position: absolute;
  top: 60%;
	left: 0;
  width: 100%;
  margin-top: -6em;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 22px;
	font-weight: 700;
	text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	z-index: 1;
}

.projects-done .single-project ul {
	position: absolute;
	bottom: 3%;
	left: 0;
	width: 100%;
  text-align: left;
	margin-top: 0.7em;
	opacity: 0;
	z-index: 1;
  list-style-type: none;
}

.projects-done .single-project li a {
  color: white;
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.project-img {
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1, 1);
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1, 1);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1, 1);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out;
}

.doc-item:hover .project-img {
	 /* Webkit for Chrome and Safari */
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-duration: 300ms;
  -webkit-transition-timing-function: ease-out;

  /* Webkit for Mozila Firefox */
  -moz-transform: scale(1.2, 1.2);
  -moz-transition-duration: 300ms;
  -moz-transition-timing-function: ease-out;

  /* Webkit for IE( Version: 11, 10 ) */
  -ms-transform: scale(1.20, 1.20);
  -ms-transition-duration: 300ms;
  -ms-transition-timing-function: ease-out;

  opacity: 0.85;
}

.doc-item:hover .project-links {
	opacity: 1;
}

/* debug code */
/*#photo-container {
	background: green;
	height: 220px;
}

#name-container {
	background: #005577;
}

#choose-language-container {
	background: #007777;
}

#profile-container {
	background: #009977;
}

#cv-download-container {
	background: #00CC77;
}

#page-content-container {
	background: #DDDDDD;
}

#navigation-menu-container {
	background: #AA44FF;
	height: 200px;
}

#details-about-me-container {
	background: #FF0000;
	height: 1000px;
}

#footer-container {
	background: pink;
	height: 100px;
}
*/
