---
layout: base
title: Resume
namespace: resume
permalink: /resume
---

<div class="resume">
  <div class="personal-card">
    <div class="photo">
      <img src="{{ '/assets/img/profile_photo.jpg' | prepend: site.baseurl_root }}" alt="Profile Photo">
    </div>
    <div class="basic-info">
      <div class="name"><h1><b>{% t resume.name %}</b></h1></div>
      <div class="job"><h2>{% t resume.job %}</h2></div>
    </div>
  </div>

  <div class="resume-content">
    <div class="menu-block">
      <div v-cloak v-bind:class="menu_class">
        <a href="#top" v-bind:class="profile_class">{% t resume.profile %}</a>
        <a href="#education" v-bind:class="education_class">{% t resume.education %}</a>
        <a href="#work-experience" v-bind:class="work_class">{% t resume.work_experience %}</a>
        <a href="#skills" v-bind:class="skills_class">{% t resume.skills %}</a>
        <a href="#contact" v-bind:class="contact_class">{% t resume.contact %}</a>
      </div>
    </div>
    <div class="details">
      <div id="education" class="section">
        <h1><b>{% t resume.education %}</b></h1>
        {% for university in site.data.universities[site.lang] %}
        <div class="resume-card">
          <div class="card-logo university">
            <img src="{{ university.logo | prepend: site.baseurl_root }}" alt="Card Logo">
          </div>
          <div class="card-details">
            <h3>{{ university.name }}</h3>
            <h3>{{ university.course }}</h3>
            <h3>{{ university.period }}</h3>
            <h3>{{ university.place }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id="work-experience" class="section">
        <h1><b>{% t resume.work_experience %}</b></h1>
        {% for job in site.data.jobs[site.lang] %}
        <div class="resume-card">
          <div class="card-logo">
            <img src="{{ job.logo | prepend: site.baseurl_root }}" alt="Card Logo">
          </div>
          <div class="card-details">
            <h3>{{ job.name }}</h3>
            <h3>{{ job.period }}</h3>
            <h3>{{ job.place }}</h3>
          </div>
        </div>
        {% endfor %}
      </div>

      <div id="skills" class="section">
        <h1><b>{% t resume.skills %}</b></h1>
        <h3>{% t resume.front_end_langs %}</h3>
        <div class="skill-block">
          {% for skill in site.data.skills[site.lang].frontend %}
          <div class="skill">{{ skill.name }}</div>
          {% endfor %}
        </div>

        <h3>{% t resume.back_end_langs %}</h3>
        <div class="skill-block">
          {% for skill in site.data.skills[site.lang].backend %}
          <div class="skill">{{ skill.name }}</div>
          {% endfor %}
        </div>

        <h3>{% t resume.frameworks %}</h3>
        <div class="skill-block">
          {% for skill in site.data.skills[site.lang].frameworks %}
          <div class="skill">{{ skill.name }}</div>
          {% endfor %}
        </div>
      </div>

      <div id="contact" class="section">
        <h1><b>{% t resume.contact %}</b></h1>
        <div class="contact-block">
          <div class="contact-info">
            <b class="contact-title">{% t resume.email %}:</b>
            <span class="details">mateus.etto at gmail.com</span>
          </div>
          <div class="contact-info">
            <b class="contact-title">{% t resume.linkedin %}:</b>
            <span class="details"><a href="https://www.linkedin.com/in/mateus-etto/">Mateus Etto</a></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
