* {
  padding: 0;
  margin: 0
}

@font-face {
    font-family: "CircleCaps";
    src: url("../font/CircleCaps.ttf");
}

@font-face {
    font-family: "Book Antiqua";
    src: url("../font/Book Antiqua.ttf");
}
