---
---

.container-fluid {
  min-height: 100vh;
  position: relative;
  background-color: #073642;
  color: #EEE8D5;
}

.search-bar {
  padding: 6px 0;
  font-size: 1.2rem;
  cursor: default;
  margin-left: 0;
  margin-right: 0;

  > .input {
    background-color: #002b36;
    border-color: #586e75;
    color: #93a1a1;
    padding: 1px 5px;
  }

  > .input:focus {
    outline-color: #839496;
  }

  > .menutoggler {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .menutoggler:focus {
    box-shadow: none;
  }
}

.menu-area {
  border-right: 2px #002b36 solid;
}

.index-area {
  .link {
    color: #268BD2;
  }

  .link:hover {
    text-decoration: none;
  }

  .link:focus {
    color: #6C71C4;
  }

  > .list.-root {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
  }

  > .list.-root > .index.-root {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .index:hover {
    background-color: #002B36;
  }

  .list {
    margin-left: 0;
    padding-left: 18px;
    list-style-type: disclosure-closed;
  }

  .list.-sub {
    margin-bottom: 0;
  }
}

.content-area {
  min-height: 100vh;
  font-size: 0.8rem;

  h1 {
    font-size: 1.5rem;
    border-bottom: 1px solid #586E75;
    padding-bottom: .3em;
  }

  h2 {font-size: 1.2rem;}
  h3 {font-size: 1.1rem;}
  h4 {font-size: 1.0rem;}
  h5 {font-size: 0.9rem;}

  a {
    color: #268BD2;
  }

  @media only screen and (min-width: 768px) {
    font-size: 1rem;

    h1 {
      font-size: 2.3rem;
      border-bottom: 1px solid #586E75;
      padding-bottom: .3em;
    }

    h2 {font-size: 1.7rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 1.15rem;}
  }

  table {
    border: 1px solid #EEE8D5;
    margin: 15px 0;
  }

  table th,
  table td {
    border: 1px solid #EEE8D5;
    padding: 5px 8px;
  }
}

[v-cloak] {
  display: none;
}
