html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container-fluid {
  min-height: 100%;
  position: relative;
  background-color: #073642;
}

.search-bar {
  padding: 6px 0;
  background-color: #002b36;
  font-size: 1.2rem;
  cursor: default;
}

body, h1, h2, h3, h4, h5, p, span, ul, li {
  color: #EEE8D5;
}

a, a:hover {
  color: #268BD2;
  text-decoration: none;
}

a:focus {
  color: #EEE8D5;
}

ul {
  margin-left: 0;
  padding-left: 18px;
  list-style-type: disclosure-closed;
}

h4:hover, ul>li:hover {
  background-color: #002B36;
}

input {
  background-color: #002b36;
  border-color: #586e75;
  color: #93a1a1;
  padding: 1px 5px;
}

input:focus {
  outline-color: #839496;
}

[v-cloak] {
  display: none;
}

table {
  border: 1px solid #EEE8D5;
  margin: 15px 0px;
}

table th,
table td {
  border: 1px solid #EEE8D5;
  padding: 5px 8px;
}

.scroll-block {
  height: 100vh;
  overflow-y: auto;
  padding-top: 5px;
}

.scroll-block h4 {
  margin-bottom: 2px;
}

.scroll-block ul {
  margin-bottom: 8px;
}

.scroll-block ul ul {
  margin-bottom: 0;
}

.search-input {
  width: 100%;
  margin: 6px 0;
}
