.header nav {
  background-color: #002B36;
  border-bottom: 2px #93A1A1 solid;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-item:not(:last-child) .nav-link {
    border-right: 1px #93A1A1 solid;
  }

  .navbar-expand-lg .navbar-nav .nav-item .nav-link {
    padding-left: 15px;
    padding-right: 15px;
  }
}

