.scroll-block {
  height: calc(100vh - 42px);
  overflow-y: auto;
}

.scroll-block h4 {
  margin-bottom: 2px;
}

.scroll-block ul {
  margin-bottom: 8px;
}

.scroll-block ul ul {
  margin-bottom: 0;
}

