---
---

.container-fluid {
  min-height: 100vh;
  position: relative;
  background-color: var(--sbase02);
  color: var(--sbase0);
}

.search-bar {
  padding: 6px 0;
  font-size: 1.2rem;
  cursor: default;
  margin-left: 0;
  margin-right: 0;

  > .input {
    background-color: var(--sbase03);
    border-color: var(--sbase1);
    color: var(--sbase1);
    padding: 1px 5px;
  }

  > .input:focus {
    outline: none;
    box-shadow: 0 0 3px 0px var(--sbase2);
  }

  > .menutoggler {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .menutoggler:focus {
    box-shadow: none;
  }
}

.menu-area {
  border-right: 2px var(--sbase03) solid;

  @media only screen and (min-width: 768px) {
    height: 100vh;
    display: flex;
    flex-flow: column;
  }
}

.index-area {
  user-select: none;

  @media only screen and (min-width: 768px) {
    flex-grow: 1;
    overflow-y: auto;
  }

  > .list.-root {
    padding-left: 0;
    list-style-type: none;
  }

  > .list.-root > .index {
    font-size: 1.5rem;
    font-weight: 500;
  }

  > .list.-root > .index .text {
    font-weight: bold;
    color: var(--subtitle);
  }

  > .list.-root > .index > .text {
    font-weight: 600;
    color: var(--title);
  }

  .list {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 15px;
    list-style-type: square;
  }

  .index {
    font-size: 1.0rem;
    font-weight: 400;
  }

  .index > .text,
  .index > .link {
    display: block;
  }

  .index > .text:hover,
  .index > .link:hover {
    background-color: var(--sbase03);
  }

  .index > .link {
    color: var(--sblue);
  }

  .index > .link:hover {
    text-decoration: none;
  }

  .index > .link:focus {
    color: var(--sviolet);
  }

  .index > .link.active {
    font-weight: bold;
    color: var(--sviolet);
  }

  .index > .text {
    cursor: default;
  }
}

.content-area {
  min-height: 100vh;
  font-size: 0.8rem;

  @media only screen and (min-width: 768px) {
    height: 100vh;
    overflow-y: auto;
  }

  h2, h3, h4, h5 {
    color: var(--subtitle);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--sbase01);
    padding-bottom: .3em;
    color: var(--title);
  }

  h2 {font-size: 1.2rem;}
  h2::before {
    content: '› ';
    position: relative;
    bottom: 2px;
  }

  h3 {font-size: 1.1rem;}
  h4 {font-size: 1.0rem;}
  h5 {font-size: 0.9rem;}
  p {margin-bottom: 12px;}

  a {color: var(--sblue);}

  ol > li {margin-bottom: 5px;}

  @media only screen and (min-width: 768px) {
    font-size: 1rem;

    h1 {font-size: 2.3rem;}
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 1.15rem;}

    h1,h2,h3,h4,h5 {margin-bottom: 12px}
  }

  table {
    margin: 15px 0;
    cursor: default;
    border: 3px solid var(--sbase01);
    border-radius: 5px;
  }

  table thead {
    border: 2px solid var(--sbase01);
  }

  table tbody tr:hover {
    background-color: var(--sbase03);
  }

  table th {
    background-color: var(--sbase03);
    padding: 6px 10px;
    color: var(--sbase1);
    font-weight: 800;
  }

  table td {
    padding: 6px 10px;
    border-top: 1px dotted var(--sbase01);
    color: var(--sbase0);
  }

  code.language-plaintext {
    background-color: var(--sbase03);
    color: var(--syellow);
    padding: 0 4px 1px 5px;
    margin: 0 2px;
    border-radius: 6px;
  }
}

.note-content > .note-metadata {
  margin-bottom: 15px;

  > .onlinedoc {
    padding-left: 8px;
    border-left: 2px solid var(--sblue);
    font-weight: 500;
  }

  > .onlinedoc > .external > .fa-external-link-alt {
    font-size: 0.7rem;
    position: relative;
    bottom: 2px;
    left: 3px;
  }

  > .last-updated {
    color: var(--scyan);
    padding-left: 8px;
    border-left: 2px solid var(--scyan);
  }

  > .last-updated > b {
    font-weight: 500;
  }
}

[v-cloak] {
  display: none;
}

:root {
  --title: #ccd9db;
  --subtitle: #a8b3b5;
  --sbase03: #002b36;
  --sbase02: #073642;
  --sbase01: #586e75;
  --sbase00: #657b83;
  --sbase0: #839496;
  --sbase1: #93a1a1;
  --sbase2: #eee8d5;
  --sbase3: #fdf6e3;
  --syellow: #b58900;
  --sorange: #cb4b16;
  --sred: #dc322f;
  --smagenta: #d33682;
  --sviolet: #6c71c4;
  --sblue: #268bd2;
  --scyan: #2aa198;
  --sgreen: #859900;
}
