---
---

.container-fluid {
  min-height: 100vh;
  position: relative;
}

.search-bar {
  padding: 6px 0;
  font-size: 1.2rem;
  cursor: default;
  margin-left: 0;
  margin-right: 0;

  > .input {
    border-color: var(--text);
    color: var(--text);
    padding: 1px 5px;
  }

  > .input:focus {
    outline: none;
    box-shadow: 0 0 3px 0px var(--base1);
  }

  > .menutoggler {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  > .menutoggler:focus {
    box-shadow: none;
  }
}

.menu-area {
  border-right: 2px var(--base0) solid;

  @media only screen and (min-width: 768px) {
    height: 100vh;
    display: flex;
    flex-flow: column;
  }
}

.index-area {
  user-select: none;

  @media only screen and (min-width: 768px) {
    flex-grow: 1;
    overflow-y: auto;
  }

  > .depth-0 {
    font-weight: 600;
    font-size: 1.5rem;
  }

  > .depth-1 { padding-left: 1em; }
  > .depth-2 { padding-left: 2em; }
  > .depth-3 { padding-left: 3em; }
  > .depth-4 { padding-left: 4em; }
  > .depth-5 { padding-left: 5em; }

  > .text {
    font-weight: bold;
  }

  > .text,
  > .link {
    display: block;
  }

  > .link:focus {
    color: var(--link-active);
  }

  > .link.active {
    font-weight: bold;
    color: var(--link-active);
  }
}

.content-area {
  min-height: 100vh;
  font-size: 0.8rem;

  @media only screen and (min-width: 768px) {
    height: 100vh;
    overflow-y: auto;
  }

  h2, h3, h4, h5 {
    color: var(--text);
  }

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid var(--base1);
    padding-bottom: .3em;
    color: var(--text);
  }

  h2 {font-size: 1.2rem;}
  h2::before {
    content: '› ';
    position: relative;
    bottom: 2px;
  }

  h3 {font-size: 1.1rem;}
  h4 {font-size: 1.0rem;}
  h5 {font-size: 0.9rem;}
  p {margin-bottom: 12px;}

  a::after {
    font-family: "Font Awesome 5 Free";
    font-size: 0.8rem;
    font-weight: 900;
    display: inline-block;
    padding-left: 3px;
    vertical-align: middle;
    content: '\f35d';
  }

  ol > li {margin-bottom: 5px;}

  @media only screen and (min-width: 768px) {
    font-size: 1rem;

    h1 {font-size: 2.3rem;}
    h2 {font-size: 1.8rem;}
    h3 {font-size: 1.5rem;}
    h4 {font-size: 1.3rem;}
    h5 {font-size: 1.15rem;}

    h1,h2,h3,h4,h5 {margin-bottom: 12px}
  }

  table {
    margin: 15px 12px;
    cursor: default;
    border: 3px solid var(--base1);
    border-radius: 5px;
  }

  table thead {
    border: 2px solid var(--base1);
  }

  table tbody tr:hover {
    background-color: var(--base00);
  }

  table th {
    background-color: var(--button);
    padding: 6px 10px;
    color: var(--subtext);
    font-weight: 800;
  }

  table td {
    padding: 6px 10px;
    border-top: 1px dotted var(--base1);
    color: var(--subtext);
  }

  code.language-plaintext {
    background-color: var(--base00);
    color: var(--yellow);
    padding: 0 4px 1px 5px;
    margin: 0 2px;
    border-radius: 6px;
  }
}

.note-content > .note-metadata {
  margin-bottom: 15px;

  > .onlinedoc {
    padding-left: 8px;
    border-left: 2px solid var(--link);
    font-weight: 500;
    margin-bottom: 5px;
  }

  > .onlinedoc:hover {
    color: var(--link-hover);
    text-decoration: underline;
  }

  > .last-updated {
    color: var(--green);
    padding-left: 8px;
    border-left: 2px solid var(--green);
    margin-bottom: 5px;
  }

  > .last-updated > b {
    font-weight: 500;
  }
}

[v-cloak] {
  display: none;
}
