<!DOCTYPE html>
<html>
  <head>
    {% include head_common.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/index.scss %}" media="screen">
  </head>
  <body>
    {% include blog_top.html %}
    <div class="container">
      <div class="box -small location-bar content-area">
        <a class="node slick-button"><i class="fas fa-home"></i> Home</a>
      </div>
      <div class="box -spaced content-area markdown">
        {{ content }}
      </div>
    </div>
  </body>
</html>
