---
layout: base
---

<div class="col-md-3 scroll-block" id="menu">
  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Javascript/String.md %}">String</a></li>
      <li><a href="{% link notes/Javascript/Array.md %}">Array</a></li>
      <li><a href="{% link notes/Javascript/Update-search-parameters.md %}">Update search parameters</a></li>
      <li><a href="{% link notes/Javascript/Parse-HTML-entities.md %}">Parse HTML entities</a></li>
    </ul>
  </ul>

  <h4><a href="http://www.dropzonejs.com/" target="_blank">Dropzone</a></h4>
  <ul>
      <li><a href="{% link notes/Dropzone/Drag-drop-file.md %}">Drag & drop file</a></li>
  </ul>

  <h4><a href="#" target="_blank">CSS</a></h4>
  <ul>
    <li><a href="{% link notes/CSS/Footer.md %}">Footer</a></li>
  </ul>

  <h4><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Bootstrap/Download-and-setup.md %}">Download and setup</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="https://getbootstrap.com/docs/4.0/layout/overview/" target="_blank">Reference (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="https://www.python.org/" target="_blank">Python</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Python/Multiple-versions.md %}">Multiple versions</a></li>
      <li><a href="{% link notes/Python/Virtual-environment.md %}">Virtual environment</a></li>
      <li><a href="{% link notes/Python/PIP-dependencies.md %}">PIP dependencies</a></li>
      <li><a href="{% link notes/Python/Basic-syntax.md %}">Basic syntax</a></li>
      <li><a href="{% link notes/Python/Advanced-syntax.md %}">Advanced syntax</a></li>
      <li><a href="{% link notes/Python/Classes.md %}">Classes</a></li>
      <li><a href="{% link notes/Python/Modules.md %}">Modules</a></li>
      <li><a href="{% link notes/Python/File-manipulation.md %}">File manipulation</a></li>
      <li><a href="{% link notes/Python/HTTP-requests.md %}">HTTP requests</a></li>
      <li><a href="{% link notes/Python/Bitwise-operators.md %}">Bitwise operators</a></li>
      <li><a href="{% link notes/Python/XML-with-ElementTree.md %}">XML with ElementTree</a></li>
    </ul>
    <li>Modules</li>
    <ul>
      <li><a href="{% link notes/Python/JSON.md %}">JSON</a></li>
      <li><a href="{% link notes/Python/ReportLab.md %}">ReportLab</a></li>
      <li><a href="{% link notes/Python/Pygal.md %}">Pygal</a></li>
    </ul>
  </ul>

  <h4><a href="http://flask.pocoo.org/" target="_blank">Flask</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Flask/Install-and-setup.md %}">Install and setup</a></li>
      <li><a href="{% link notes/Flask/Views.md %}">Views</a></li>
      <li><a href="{% link notes/Flask/Responses.md %}">Responses</a></li>
    </ul>
  </ul>

  <h4><a href="https://www.djangoproject.com/" target="_blank">Django</a></h4>
  <ul>
    <li>Setup</li>
    <ul>
      <li><a href="{% link notes/Django/Setup/Install-and-project-setup.md %}">Install and project setup</a></li>
      <li><a href="{% link notes/Django/Setup/New-app-setup.md %}">New app setup</a></li>
      <li><a href="{% link notes/Django/Setup/Add-template-directory.md %}">Add template directory</a></li>
      <li><a href="{% link notes/Django/Setup/Add-static-directory.md %}">Add static directory</a></li>
    </ul>
    <li>View</li>
    <ul>
      <li><a href="{% link notes/Django/View/Common-methods.md %}">Common methods</a></li>
      <li><a href="{% link notes/Django/View/Template.md %}">Template</a></li>
      <li><a href="{% link notes/Django/View/List.md %}">List</a></li>
      <li><a href="{% link notes/Django/View/Details.md %}">Details</a></li>
      <li><a href="{% link notes/Django/View/Create.md %}">Create</a></li>
      <li><a href="{% link notes/Django/View/Edit.md %}">Edit</a></li>
      <li><a href="{% link notes/Django/View/Delete.md %}">Delete</a></li>
      <li><a href="{% link notes/Django/View/Form.md %}">Form</a></li>
    </ul>
    <li>Model</li>
    <ul>
      <li><a href="{% link notes/Django/Model/Custom.md %}">Custom</a></li>
    </ul>
    <li>Template</li>
    <ul>
      <li><a href="{% link notes/Django/Template/List.md %}">List</a></li>
      <li><a href="{% link notes/Django/Template/Details.md %}">Details</a></li>
      <li><a href="{% link notes/Django/Template/Form.md %}">Form</a></li>
      <li><a href="{% link notes/Django/Template/Extend.md %}">Extend</a></li>
      <li><a href="{% link notes/Django/Template/Load-static-file.md %}">Load static file</a></li>
      <li><a href="{% link notes/Django/Template/Pagination.md %}">Pagination</a></li>
      <li><a href="{% link notes/Django/Template/Current-page-or-app.md %}">Current page or app</a></li>
      <li><a href="{% link notes/Django/Template/Ajax-POST.md %}">Ajax POST</a></li>
    </ul>
    <li>Form</li>
    <ul>
      <li><a href="{% link notes/Django/Form/Custom.md %}">Custom</a></li>
      <li><a href="{% link notes/Django/Form/Extend-model.md %}">Extend model</a></li>
    </ul>
    <li>Authentication</li>
    <ul>
      <li><a href="{% link notes/Django/Authentication/Manual.md %}">Manual (not recommended)</a></li>
      <li><a href="{% link notes/Django/Authentication/Automatic.md %}">Automatic</a></li>
      <li><a href="{% link notes/Django/Authentication/Require-login.md %}">Require login</a></li>
      <li><a href="{% link notes/Django/Authentication/Require-permission.md %}">Require permission</a></li>
    </ul>
    <li>URL</li>
    <ul>
      <li><a href="{% link notes/Django/URL/Main-app.md %}">Main app</a></li>
      <li><a href="{% link notes/Django/URL/App-Class-based.md %}">App Class based</a></li>
      <li><a href="{% link notes/Django/URL/Redirect.md %}">Redirect</a></li>
    </ul>
    <li>Database</li>
    <ul>
      <li><a href="{% link notes/Django/Database/MongoDB.md %}">MongoDB setup</a></li>
    </ul>
    <li>Admin</li>
    <ul>
      <li><a href="{% link notes/Django/Admin/Site.md %}">Site</a></li>
    </ul>
    <li>Test</li>
    <ul>
      <li><a href="{% link notes/Django/Test/Integration.md %}">Integration</a></li>
    </ul>
    <li>Terminal</li>
    <ul>
      <li><a href="{% link notes/Django/Terminal/manage.py-commands.md %}">manage.py commands</a></li>
      <li><a href="{% link notes/Django/Terminal/Shell.md %}">Shell</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="{% link notes/Django/Common-imports.md %}">Common imports</a></li>
      <li><a href="https://docs.djangoproject.com/en/2.0/ref/class-based-views/" target="_blank">Built-in class-based views API (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="http://paperjs.org/" target="_blank">Paper.js</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Paperjs/Install-and-setup.md %}">Install and setup</a></li>
      <li><a href="{% link notes/Paperjs/Path-manipulation.md %}">Path manipulation</a></li>
      <li><a href="{% link notes/Paperjs/Mouse-interaction.md %}">Mouse interaction</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="http://paperjs.org/tutorials/" target="_blank">Tutorials (external link)</a></li>
      <li><a href="http://paperjs.org/reference/global/" target="_blank">Reference (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="https://ngrok.com/" target="_blank">Ngrok</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Ngrok/Download-and-run.md %}">Download and run</a></li>
    </ul>
  </ul>

  <h4><a href="https://vim.sourceforge.io/" target="_blank">Vim</a></h4>
  <ul>
    <li><a href="{% link notes/Vim/Shortcuts.md %}">Shortcuts</a></li>
  </ul>

  <h4><a href="https://jekyllrb.com/" target="_blank">Jekyll</a></h4>
  <ul>
    <li><a href="{% link notes/Jekyll/Github-pages-setup.md %}">Github-pages setup</a></li>
  </ul>

  <h4><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></h4>
  <ul>
    <li><a href="{% link notes/MongoDB/Basic-commands.md %}">Basic commands</a></li>
    <li><a href="{% link notes/MongoDB/Authentication.md %}">Authentication</a></li>
    <li><a href="{% link notes/MongoDB/Replication.md %}">Replication</a></li>
    <li><a href="{% link notes/MongoDB/Dump.md %}">Dump</a></li>
  </ul>

  <h4><a href="https://aws.amazon.com/" target="_blank">Amazon (AWS)</a></h4>
  <ul>
    <li><a href="{% link notes/Amazon/AWS-CLI.md %}">AWS CLI</a></li>
    <li><a href="{% link notes/Amazon/Zappa.md %}">Zappa</a></li>
    <li><a href="{% link notes/Amazon/Polly.md %}">Polly</a></li>
  </ul>

  <h4><a href="https://twilio.kddi-web.com/" target="_blank">Twilio</a></h4>
  <ul>
    <li><a href="{% link notes/Twilio/Quickstart.md %}">Quickstart</a></li>
  </ul>

</div>
<div class="col-md-9 scroll-block" id="content">
  {{ content }}
</div>
