---
layout: base
---

<div class="col-md-3 scroll-block" id="menu">
  <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank">Javascript</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Javascript/Update-search-parameters.md %}">Update search parameters</a></li>
      <li><a href="{% link notes/Javascript/Parse-HTML-entities.md %}">Parse HTML entities</a></li>
    </ul>
  </ul>

  <h4><a href="#" target="_blank">CSS</a></h4>
  <ul>
    <li><a href="{% link notes/CSS/Footer.md %}">Footer</a></li>
  </ul>

  <h4><a href="https://getbootstrap.com/" target="_blank">Bootstrap</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Bootstrap/Download-and-setup.md %}">Download and setup</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="https://getbootstrap.com/docs/4.0/layout/overview/" target="_blank">Reference (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="https://www.python.org/" target="_blank">Python</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Python/Multiple-versions.md %}">Multiple versions</a></li>
      <li><a href="{% link notes/Python/Virtual-environment.md %}">Virtual environment</a></li>
      <li><a href="{% link notes/Python/PIP-dependencies.md %}">PIP dependencies</a></li>
      <li><a href="{% link notes/Python/Basic-syntax.md %}">Basic syntax</a></li>
      <li><a href="{% link notes/Python/Advanced-syntax.md %}">Advanced syntax</a></li>
      <li><a href="{% link notes/Python/Classes.md %}">Classes</a></li>
      <li><a href="{% link notes/Python/Modules.md %}">Modules</a></li>
      <li><a href="{% link notes/Python/File-manipulation.md %}">File manipulation</a></li>
      <li><a href="{% link notes/Python/HTTP-requests.md %}">HTTP requests</a></li>
      <li><a href="{% link notes/Python/Bitwise-operators.md %}">Bitwise operators</a></li>
      <li><a href="{% link notes/Python/XML-with-ElementTree.md %}">XML with ElementTree</a></li>
    </ul>
    <li>Modules</li>
    <ul>
      <li><a href="{% link notes/Python/JSON.md %}">JSON</a></li>
      <li><a href="{% link notes/Python/ReportLab.md %}">ReportLab</a></li>
      <li><a href="{% link notes/Python/Pygal.md %}">Pygal</a></li>
    </ul>
  </ul>

  <h4><a href="http://flask.pocoo.org/" target="_blank">Flask</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Flask/Install-and-setup.md %}">Install and setup</a></li>
      <li><a href="{% link notes/Flask/Views.md %}">Views</a></li>
      <li><a href="{% link notes/Flask/Responses.md %}">Responses</a></li>
    </ul>
  </ul>

  <h4><a href="https://www.djangoproject.com/" target="_blank">Django</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Django/Install-and-project-setup.md %}">Install and project setup</a></li>
      <li><a href="{% link notes/Django/Run-test-server.md %}">Run test server</a></li>
      <li><a href="{% link notes/Django/New-app-setup.md %}">New app setup</a></li>
      <li><a href="{% link notes/Django/Model-setup.md %}">Model setup</a></li>
      <li><a href="{% link notes/Django/App-views-(from-model).md %}">App views (from model)</a></li>
      <li><a href="{% link notes/Django/Pagination.md %}">Pagination</a></li>
      <li><a href="{% link notes/Django/Template.md %}">Template</a></li>
      <li><a href="{% link notes/Django/Create-form.md %}">Create form</a></li>
      <li><a href="{% link notes/Django/Redirect.md %}">Redirect</a></li>
      <li><a href="{% link notes/Django/Add-static-files.md %}">Add static files</a></li>
      <li><a href="{% link notes/Django/Authentication.md %}">Authentication</a></li>
      <li><a href="{% link notes/Django/User-model.md %}">User model</a></li>
      <li><a href="{% link notes/Django/Fill-field-on-POST.md %}">Fill field on POST</a></li>
      <li><a href="{% link notes/Django/Ajax-POST.md %}">Ajax POST</a></li>
      <li><a href="{% link notes/Django/Session.md %}">Session</a></li>
      <li><a href="{% link notes/Django/Using-shell.md %}">Using shell</a></li>
      <li><a href="{% link notes/Django/Tests.md %}">Tests</a></li>
      <li><a href="{% link notes/Django/Admin-site.md %}">Admin site</a></li>
      <li><a href="{% link notes/Django/MongoDB-setup.md %}">MongoDB setup</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="{% link notes/Django/Common-imports.md %}">Common imports</a></li>
      <li><a href="https://docs.djangoproject.com/en/2.0/ref/class-based-views/" target="_blank">Built-in class-based views API (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="http://paperjs.org/" target="_blank">Paper.js</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Paperjs/Install-and-setup.md %}">Install and setup</a></li>
      <li><a href="{% link notes/Paperjs/Path-manipulation.md %}">Path manipulation</a></li>
      <li><a href="{% link notes/Paperjs/Mouse-interaction.md %}">Mouse interaction</a></li>
    </ul>
    <li>Docs</li>
    <ul>
      <li><a href="http://paperjs.org/tutorials/" target="_blank">Tutorials (external link)</a></li>
      <li><a href="http://paperjs.org/reference/global/" target="_blank">Reference (external link)</a></li>
    </ul>
  </ul>

  <h4><a href="https://ngrok.com/" target="_blank">Ngrok</a></h4>
  <ul>
    <li>How to</li>
    <ul>
      <li><a href="{% link notes/Ngrok/Download-and-run.md %}">Download and run</a></li>
    </ul>
  </ul>

  <h4><a href="https://vim.sourceforge.io/" target="_blank">Vim</a></h4>
  <ul>
    <li><a href="{% link notes/Vim/Shortcuts.md %}">Shortcuts</a></li>
  </ul>

  <h4><a href="https://jekyllrb.com/" target="_blank">Jekyll</a></h4>
  <ul>
    <li><a href="{% link notes/Jekyll/Github-pages-setup.md %}">Github-pages setup</a></li>
  </ul>

  <h4><a href="https://www.mongodb.com/" target="_blank">MongoDB</a></h4>
  <ul>
    <li><a href="{% link notes/MongoDB/Basic-commands.md %}">Basic commands</a></li>
    <li><a href="{% link notes/MongoDB/Authentication.md %}">Authentication</a></li>
    <li><a href="{% link notes/MongoDB/Replication.md %}">Replication</a></li>
    <li><a href="{% link notes/MongoDB/Dump.md %}">Dump</a></li>
  </ul>

  <h4><a href="https://aws.amazon.com/" target="_blank">Amazon (AWS)</a></h4>
  <ul>
    <li><a href="{% link notes/Amazon/AWS-CLI.md %}">AWS CLI</a></li>
    <li><a href="{% link notes/Amazon/Zappa.md %}">Zappa</a></li>
    <li><a href="{% link notes/Amazon/Polly.md %}">Polly</a></li>
  </ul>

  <h4><a href="https://twilio.kddi-web.com/" target="_blank">Twilio</a></h4>
  <ul>
    <li><a href="{% link notes/Twilio/Quickstart.md %}">Quickstart</a></li>
  </ul>

</div>
<div class="col-md-9 scroll-block" id="content">
  {{ content }}
</div>
