<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_common.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/notes.scss %}" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/monokai.scss %}" media="screen">
  </head>
  <body>
    <div class="container-fluid" id="notes">
      {{ content }}
    </div>

    <script type="application/json" id="raw-index-data">
    {%- comment -%} Add an exclamation mark before each note name for sorting. {%- endcomment -%}
    {%- assign notes = '' -%}
    {%- for note in site.notes -%}
      {%- assign note_path_arr = note.relative_path | split: '/' -%}
      {%- assign new_filename = note_path_arr.last | prepend: '!' -%}
      {%- assign note_path = note.relative_path | replace: note_path_arr.last, new_filename -%}
      {%- capture notes -%}{{ notes }};{{ note_path }}{%- endcapture -%}
    {%- endfor -%}

    {%- comment -%} Make notes an array and sort it. {%- endcomment -%}
    {%- assign notes = notes | remove: '_notes/' | remove: '.md' | slice: 1, notes.size -%}
    {%- assign notes = notes | split: ';' | sort -%}

    {%- comment -%} Remove the exclamation mark and generate the JSON. {%- endcomment -%}
    {%- for note in notes -%}
      {%- capture index_json -%}{{ index_json }},"{{ note | remove: '!' }}"{%- endcapture -%}
    {%- endfor -%}
    [{{ index_json | slice: 1, index_json.size }}]
    </script>

    <script src="{{ site.baseurl }}{% link assets/notes.js %}"></script>
  </body>
</html>
