<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mateus Etto</title>

    <!-- Libraries -->
    <link href="libraries/bootstrap.min.css" rel="stylesheet">
    <script src="libraries/jquery.min.js"></script>
    <script src="libraries/bootstrap.min.js"></script>

    <script src="js/experience.js" charset="utf-8"></script>
    <script src="js/skillName.js" charset="utf-8"></script>
    <script src="js/skillBlackList.js" charset="utf-8"></script>
    <script src="js/common.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/index.css" media="screen">
  </head>
  <body data-spy="scroll" data-target="#navigation-menu-container">
    <header class="jumbotron" id="profile">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-md-3" id="photo-container">
            <img src="img/Photo.jpg" height="220px" alt="Profile Photo" />
          </div>
          <div class="col-xs-6 col-md-6" id="name-container">
            <h1>Mateus Etto</h1>
          </div>
          <div class="col-xs-2 col-md-3" id="choose-language-container">
            Language:
            <select onchange="document.documentElement.lang=this.value">
              <option value="pt-BR">Português</option>
              <option value="en">English</option>
              <option value="jp">日本語</option>
            </select>
          </div>
          <div class="col-xs-8 col-md-9" id="profile-container">
            <p lang="pt-BR" class="lead">
              Desenvolvedor de Software focado em aprender novas tecnologias,
              trabalho em equipe e criação de códigos bem estruturados.
            </p>
            <p lang="en" class="lead">
              Software Developer focused on learning new technologies,
              teamwork and creation of well structured codes.
            </p>
            <p lang="jp" class="lead">
              新技術、チームワーク、良い構造のコードを作成することに集中しているソフトウェア開発者。
            </p>
          </div>
          <div class="col-xs-8 col-md-9" id="cv-download-container">
            <a lang="pt-BR" href="javascript:void(0);">
              <button type="button" class="btn btn-primary" disabled>Currículo Download</button>
            </a>
            <a lang="en" href="javascript:void(0);">
              <button type="button" class="btn btn-primary" disabled>Download Resume</button>
            </a>
            <a lang="jp" href="javascript(0);">
              <button type="button" class="btn btn-primary" disabled>履歴書ダウンロード</button>
            </a>
            <a lang="jp" href="javascript(0);">
              <button type="button" class="btn btn-primary" disabled>職務経歴書ダウンロード</button>
            </a>
          </div>
        </div>
      </div>
    </header>
    <div class="container" id="page-content-container">
      <div class="row">
        <nav class="col-md-2 hidden-sm hidden-xs" id="navigation-menu-container">
          <ul class="list-group nav" role="tablist" data-spy="affix" data-offset-top="350">
            <li><a lang="pt-BR" href="#profile" class="list-group-item list-group-item-action">Perfil</a></li>
            <li><a lang="pt-BR" href="#interests" class="list-group-item list-group-item-action">Interesses</a></li>
            <li><a lang="pt-BR" href="#education" class="list-group-item list-group-item-action">Educação</a></li>
            <li><a lang="pt-BR" href="#experience" class="list-group-item list-group-item-action">Experiência</a></li>
            <li><a lang="pt-BR" href="#skills" class="list-group-item list-group-item-action">Habilidades</a></li>
            <li><a lang="pt-BR" href="#projects" class="list-group-item list-group-item-action">Projetos</a></li>
            <li><a lang="pt-BR" href="#languages" class="list-group-item list-group-item-action">Idiomas</a></li>
            <li><a lang="pt-BR" href="#contact" class="list-group-item list-group-item-action">Contato</a></li>

            <li><a lang="en" href="#profile" class="list-group-item list-group-item-action">Profile</a></li>
            <li><a lang="en" href="#interests" class="list-group-item list-group-item-action">Interests</a></li>
            <li><a lang="en" href="#education" class="list-group-item list-group-item-action">Education</a></li>
            <li><a lang="en" href="#experience" class="list-group-item list-group-item-action">Work Experience</a></li>
            <li><a lang="en" href="#skills" class="list-group-item list-group-item-action">Skills</a></li>
            <li><a lang="en" href="#projects" class="list-group-item list-group-item-action">Projects</a></li>
            <li><a lang="en" href="#languages" class="list-group-item list-group-item-action">Languages</a></li>
            <li><a lang="en" href="#contact" class="list-group-item list-group-item-action">Contact</a></li>

            <li><a lang="jp" href="#profile" class="list-group-item list-group-item-action">プロフィール</a></li>
            <li><a lang="jp" href="#interests" class="list-group-item list-group-item-action">関心</a></li>
            <li><a lang="jp" href="#education" class="list-group-item list-group-item-action">学歴</a></li>
            <li><a lang="jp" href="#experience" class="list-group-item list-group-item-action">職歴</a></li>
            <li><a lang="jp" href="#skills" class="list-group-item list-group-item-action">技術</a></li>
            <li><a lang="jp" href="#projects" class="list-group-item list-group-item-action">プロジェクト</a></li>
            <li><a lang="jp" href="#languages" class="list-group-item list-group-item-action">言語</a></li>
            <li><a lang="jp" href="#contact" class="list-group-item list-group-item-action">連絡</a></li>
          </ul>
        </nav>
        <div class="col-md-10" id="details-about-me-container">
          <div class="section" id="interest-container">
            <h2 id="interests">
              <span lang="pt-BR">Interesses</span>
              <span lang="en">Interests</span>
              <span lang="jp">関心</span>
            </h2>
            <ul>
              <li lang="pt-BR">Ajudar em projetos open-source (<a href="https://github.com/HabitRPG/habitica">Habitica</a>)</li>
              <li lang="pt-BR">Estudar Japonês</li>
              <li lang="pt-BR">Aprender Python, PHP, MySQL e MongoDB</li>

              <li lang="en">Help in open-source projects (<a href="https://github.com/HabitRPG/habitica">Habitica</a>)</li>
              <li lang="en">Study Japanese</li>
              <li lang="en">Learn Python, PHP, MySQL and MongoDB</li>

              <li lang="jp">オプンソースプロジェクトに貢献する （<a href="https://github.com/HabitRPG/habitica">Habitica</a>）</li>
              <li lang="jp">日本語を勉強する</li>
              <li lang="jp">Python、PHP、MySQL、MongoDBを学習する</li>
            </ul>
          </div>
          <div class="section" id="education-container">
            <h2 id="education">
              <span lang="pt-BR">Educação</span>
              <span lang="en">Education</span>
              <span lang="jp">学歴</span>
            </h2>
            <div class="row company-container" id="about-unesp-container">
              <a href="http://www.bauru.unesp.br/" target="_blank">
                <div class="col-xs-3 col-md-3 image-logo">
                  <img src="img/UnespLogo.png" alt="Unesp Logo" />
                </div>
                <div class="col-xs-9 col-md-9">
                  <h3 lang="pt-BR">Universidade Estadual Paulista "Júlio de Mesquita Filho"</h3>
                  <h3 lang="pt-BR">Curso: Bacharelado em Ciências da Computação</h3>
                  <h3 lang="pt-BR">Local: Bauru (SP), Brasil</h3>
                  <h3 lang="pt-BR">Período: Fevereiro/2012 ~ Março/2017</h3>

                  <h3 lang="en">Sao Paulo State University</h3>
                  <h3 lang="en">Course: Bachelor in Computer Science</h3>
                  <h3 lang="en">Place: Bauru (SP), Brazil</h3>
                  <h3 lang="en">Period: February/2012 ~ March/2017</h3>

                  <h3 lang="jp">サンパウロ州立大学</h3>
                  <h3 lang="jp">課程： 計算機工学の学士号</h3>
                  <h3 lang="jp">場所： バウル（SP）、ブラジル</h3>
                  <h3 lang="jp">期間： 2012年2月 ~ 2017年3月</h3>
                </div>
              </a>
            </div>
            <div class="row company-container" id="about-waseda-container">
              <a href="https://www.waseda.jp/top" target="_blank">
                <div class="col-xs-3 col-md-3 image-logo">
                  <img src="img/WasedaLogo.png" alt="Waseda Logo" />
                </div>
                <div class="col-xs-9 col-md-9">
                  <h3 lang="pt-BR">Universidade Waseda</h3>
                  <h3 lang="pt-BR">Curso: Engenharia da Computação</h3>
                  <h3 lang="pt-BR">Local: Tóquio, Japão</h3>
                  <h3 lang="pt-BR">Período: Setembro/2014 ~ Agosto/2015</h3>

                  <h3 lang="en">Waseda University</h3>
                  <h3 lang="en">Course: Computer Science</h3>
                  <h3 lang="en">Place: Tokyo, Japan</h3>
                  <h3 lang="en">Period: September/2014 ~ August/2015</h3>

                  <h3 lang="jp">早稲田大学</h3>
                  <h3 lang="jp">課程： 計算機工学</h3>
                  <h3 lang="jp">場所： 東京、日本</h3>
                  <h3 lang="jp">期間： 2014年9月 ~ 2015年8月</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="section" id="experience-container">
            <h2 id="experience">
              <span lang="pt-BR">Experiência</span>
              <span lang="en">Work Experience</span>
              <span lang="jp">職歴</span>
            </h2>
            <div class="row company-container" id="about-ltia-container">
              <a href="http://www.ltia.fc.unesp.br/" target="_blank">
                <div class="col-xs-3 col-md-3 image-logo">
                  <img src="img/LtiaLogo.png" alt="Ltia Logo" />
                </div>
                <div class="col-xs-9 col-md-9">
                  <h3 lang="pt-BR">Laboratório de Tecnologia da Informação Aplicada</h3>
                  <h3 lang="pt-BR">Cargo: Desenvolvedor de Software</h3>
                  <h3 lang="pt-BR">Local: Bauru (SP), Brasil</h3>
                  <h3 lang="pt-BR">Período: Outubro/2012 ~ Março/2017</h3>

                  <h3 lang="en">Laboratory of Applied Information Technology</h3>
                  <h3 lang="en">Role: Software Developer</h3>
                  <h3 lang="en">Place: Bauru (SP), Brazil</h3>
                  <h3 lang="en">Period: October/2012 ~ March/2017</h3>

                  <h3 lang="jp">応用情報技術研究所</h3>
                  <h3 lang="jp">職位： ソフトウェア開発者</h3>
                  <h3 lang="jp">場所： サンパウロ（SP）、ブラジル</h3>
                  <h3 lang="jp">期間： 2012年10月 ~ 2017年3月</h3>
                </div>
              </a>
            </div>
            <div class="row company-container" id="about-voxus-container">
              <a href="http://www.voxus.com.br/" target="_blank">
                <div class="col-xs-3 col-md-3 image-logo">
                  <img src="img/voxus.svg" alt="Voxus Logo" />
                </div>
                <div class="col-xs-9 col-md-9">
                  <h3 lang="pt-BR">Voxus Midia</h3>
                  <h3 lang="pt-BR">Cargo: Desenvolvedor de Software</h3>
                  <h3 lang="pt-BR">Local: São Paulo (SP), Brasil</h3>
                  <h3 lang="pt-BR">Período: Junho/2017 ~ Novembro/2017</h3>

                  <h3 lang="en">Voxus Midia</h3>
                  <h3 lang="en">Role: Software Developer</h3>
                  <h3 lang="en">Place: Sao Paulo (SP), Brazil</h3>
                  <h3 lang="en">Period: June/2017 ~ November/2017</h3>

                  <h3 lang="jp">Voxus Midia</h3>
                  <h3 lang="jp">職位： ソフトウェア開発者</h3>
                  <h3 lang="jp">場所： サンパウロ（SP）、ブラジル</h3>
                  <h3 lang="jp">期間： 2017年06月 ~ 2017年11月</h3>
                </div>
              </a>
            </div>
            <div class="row company-container" id="about-cograph-container">
              <a href="http://co-graph.com/" target="_blank">
                <div class="col-xs-3 col-md-3 image-logo">
                  <img src="img/CographLogo.png" alt="Cograph Logo" />
                </div>
                <div class="col-xs-9 col-md-9">
                  <h3 lang="pt-BR">Co-graph</h3>
                  <h3 lang="pt-BR">Cargo: Desenvolvedor de Software</h3>
                  <h3 lang="pt-BR">Local: Tóquio, Japão</h3>
                  <h3 lang="pt-BR">Período: Janeiro/2018 ~</h3>

                  <h3 lang="en">Co-graph</h3>
                  <h3 lang="en">Role: Software Developer</h3>
                  <h3 lang="en">Place: Tokyo, Japan</h3>
                  <h3 lang="en">Period: January/2018 ~</h3>

                  <h3 lang="jp">コグラフ</h3>
                  <h3 lang="jp">職位： ソフトウェア開発者</h3>
                  <h3 lang="jp">場所： 東京、日本</h3>
                  <h3 lang="jp">期間： 2018年01月 ~</h3>
                </div>
              </a>
            </div>
          </div>
          <div class="section skills-container">
            <h2 id="skills">
              <span lang="pt-BR">Habilidades</span>
              <span lang="en">Skills</span>
              <span lang="jp">技術</span>
            </h2>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <span lang="pt-BR">Linguagens de Programação</span>
                      <span lang="en">Programming Languages</span>
                      <span lang="jp">プログラミング言語</span>
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body" id="programmingLanguages"></div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <span lang="pt-BR">Frameworks</span>
                      <span lang="en">Frameworks</span>
                      <span lang="jp">フレームワーク</span>
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body" id="frameworks"></div>
                </div>
              </div>
              <!--<div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <span lang="pt-BR">Banco de Dados</span>
                    <span lang="en">Database</span>
                    <span lang="jp">データベース</span>
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body" id="databases"></div>
                </div>
              </div>-->
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingFour">
                  <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      <span lang="pt-BR">Ferramentas</span>
                      <span lang="en">Tools</span>
                      <span lang="jp">ツール</span>
                    </a>
                  </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                  <div class="panel-body" id="tools"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="section" id="projects-container">
            <h2 id="projects">
              <span lang="pt-BR">Projetos</span>
              <span lang="en">Projects</span>
              <span lang="jp">プロジェクト</span>
            </h2>
            <div class="projects-done">
              <div class="row">
					      <div class="col-xs-6 col-md-3 text-center single-project-container">
			            <div class="single-project animated">
					          <h5>AppEducacional-Parasitologia</h5>
				            <ul class="project-links animate">
											<li><a href="https://github.com/Yutsuten/AppEducacional-Parasitologia">GitHub</a></li>
											<li lang="pt-BR"><a href="projects/AppEducacional-Parasitologia/index.html">Jogar</a></li>
                      <li lang="en"><a href="projects/AppEducacional-Parasitologia/index.html">Play</a></li>
                      <li lang="jp"><a href="projects/AppEducacional-Parasitologia/index.html">プレイする</a></li>
										</ul>
                    <figure>
							        <img src="img/AppEducacional-Parasitologia-Image.jpg" class="project-img animate" alt="AppEducacional-Parasitologia Image">
							      </figure>
		              </div>
		            </div>
                <div class="col-xs-6 col-md-3 text-center single-project-container">
			            <div class="single-project animated">
					          <h5>AI-RPG-game</h5>
				            <ul class="project-links animate">
											<li><a href="https://github.com/Yutsuten/AI-RPG-game">GitHub</a></li>
										</ul>
                    <figure>
							        <img src="img/AI-RPG-game-Image.jpg" class="project-img animate" alt="AI-RPG-game Image">
							      </figure>
		              </div>
		            </div>
                <div class="col-xs-6 col-md-3 text-center single-project-container">
			            <div class="single-project animated">
					          <h5>Simulador dos Aplicativos do Mastersite ASTRO 25</h5>
				            <ul class="project-links animate">
										</ul>
                    <figure>
							        <img src="img/Simulador-Mastersite-ASTRO25-Image.jpg" class="project-img animate" alt="ASTRO 25 Mastersite Applications Simulator Image">
							      </figure>
		              </div>
		            </div>
                <div class="col-xs-6 col-md-3 text-center single-project-container">
			            <div class="single-project animated">
					          <h5>SEMENG 2016</h5>
				            <ul class="project-links animate">
											<li lang="pt-BR"><a href="https://play.google.com/store/apps/details?id=br.com.ltia.semeng2016">Download</a></li>
                      <li lang="en"><a href="https://play.google.com/store/apps/details?id=br.com.ltia.semeng2016">Download</a></li>
                      <li lang="jp"><a href="https://play.google.com/store/apps/details?id=br.com.ltia.semeng2016">ダウンロード</a></li>
										</ul>
                    <figure>
							        <img src="img/Semeng-Image.jpg" class="project-img animate" alt="SEMENG 2016 Image">
							      </figure>
		              </div>
		            </div>
                <div class="col-xs-6 col-md-3 text-center single-project-container">
			            <div class="single-project animated">
					          <h5>BeatCube</h5>
				            <ul class="project-links animate">
											<li><a href="https://github.com/Yutsuten/BeatCube">GitHub</a></li>
											<li lang="pt-BR"><a href="https://play.google.com/store/apps/details?id=com.ltia.beatcube">Download</a></li>
                      <li lang="en"><a href="https://play.google.com/store/apps/details?id=com.ltia.beatcube">Download</a></li>
                      <li lang="jp"><a href="https://play.google.com/store/apps/details?id=com.ltia.beatcube">ダウンロード</a></li>
										</ul>
                    <figure>
							        <img src="img/BeatCube-Image.jpg" class="project-img animate" alt="BeatCube Image">
							      </figure>
		              </div>
		            </div>
              </div>
					  </div>
          </div>
          <div class="section skills-container">
            <h2 id="languages">
              <span lang="pt-BR">Idiomas</span>
              <span lang="en">Languages</span>
              <span lang="jp">言語</span>
            </h2>
            <div id="languages-container"></div>
          </div>
          <div class="section" id="contact-container">
            <h2 id="contact">
              <span lang="pt-BR">Contato</span>
              <span lang="en">Contact</span>
              <span lang="jp">連絡</span>
            </h2>
            <ul>
              <li lang="pt-BR">Mateus Gonçalez Etto</li>
              <li lang="en">Mateus Gonçalez Etto</li>
              <li lang="jp">Mateus Gonçalez Etto （マテウス ゴンザレス エット）</li>

              <li lang="pt-BR">E-mail: mateus.etto@gmail.com</li>
              <li lang="en">E-mail: mateus.etto@gmail.com</li>
              <li lang="jp">メール: mateus.etto@gmail.com</li>

              <li>Github: <a href="https://github.com/Yutsuten">Mateus Etto (Yutsuten)</a></li>
              <li>LinkedIn: <a href="https://www.linkedin.com/in/mateus-etto/">Mateus Etto</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer class="container" id="footer-container"></footer>

    <!-- Scripts that need the whole HTML to be loaded already to work -->
    <script src="js/createSkillBars.js" charset="utf-8"></script>
    <script src="js/index.js" charset="utf-8"></script>
  </body>
</html>
